<!DOCTYPE html>
<html lang="<%= language %>">
<head>
  <title><%= seo.title %></title>
  
  <meta charset="utf-8" />
  <meta name="description" content="<%= seo.description %>" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  
  <meta property="og:url" content="<%= seo.url %>" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="<%= seo.title %>" />
  
  <meta property="og:description" content="<%= seo.description %>" />

  <meta property="og:image" content="<%= seo.image %>" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="1024" />
  <meta property="og:image:height" content="1024" />

  <link rel="canonical" href="<%= seo.url %>" />

  <link rel="apple-touch-icon" sizes="180x180" href="<%= path.static %>/img/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="<%= path.static %>/img/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="<%= path.static %>/img/favicon-16x16.png" />
  <link rel="manifest" href="<%= path.static %>/img/manifest.json" />
  <link rel="mask-icon" href="<%= path.static %>/img/safari-pinned-tab.svg" color="#33332b" />
  <link rel="shortcut icon" href="<%= path.static %>/img/favicon.ico" />
  <meta name="apple-mobile-web-app-title" content="<%= seo.brand %>" />
  <meta name="application-name" content="<%= seo.brand %>" />
  <meta name="msapplication-config" content="<%= path.static %>/img/browserconfig.xml" />
  <meta name="theme-color" content="#33332b" />

  <link rel="stylesheet" href="<%= path.static %>/fonts/monochord.font.css" />
  <!--
  <script src="http://platform-api.sharethis.com/js/sharethis.js#property=59afc085d1a0140011f206da&amp;product=inline-share-buttons" async="async"></script>
  -->