{{_element = ui.model.selectedElement;''}}
{{_set = ui.model.selectedSet;''}}

<section id="scale-designer" ng-class="{active:mctrl.ui.panel.isActive('scale-designer')}" mobile-click="$event.target.id === 'scale-designer' && mctrl.ui.model.clearSelection()">
  <p class="disabled" ng-hide="sets.length">
    The scale is empty<br />
    To get started click the [+] icon in the bottom of the screen and add your first note or go to the scala page and import a preset.
  </p>

  <table id="sets" ng-show="sets.length">
    <tr ng-repeat="set in sets track by $index">
      {{setSelected = _set &amp;&amp; _set.id === set.id;''}}
      
      <td width="40" class="center smaller" ng-class="{highlighted : _set.id === set.id, even : $index % 2 === 1, odd : $index % 2 === 0}">
        {{$index + 1}}
      </td>
      
      <td class="ulreset" ng-class="{highlighted : _set.id === set.id, even : $index % 2 === 1, odd : $index % 2 === 0}" mobile-click="mctrl.ui.model.toggleSelectedSet(set)">
        {{elementSelected = _element &amp;&amp; _element.id > 0 &amp;&amp; (set.strings.indexOf(_element) !== -1 || set.cents.indexOf(_element) !== -1);''}}
        {{elementSelectedIsString = set.strings.indexOf(_element) !== -1;''}}
        <div class="scale-row">
          <ul class="fright element" ng-if="elementSelected">
            <li><button title="Lower element" type="button" class="icon-remove" ng-class="mctrl.ui.model.canLowerElement(_element) ? '' : 'disabled'" hold-click="mctrl.ui.model.lowerElement(_element)" mobile-click="$event.stopPropagation()"></button></li>
            <li><button title="Raise element" type="button" class="icon-add" ng-class="mctrl.ui.model.canRaiseElement(_element) ? '' : 'disabled'" hold-click="mctrl.ui.model.raiseElement(_element)" mobile-click="$event.stopPropagation()"></button></li>
            <li><input autosize type="number" min="{{mctrl.ui.model['lowest' + (elementSelectedIsString ? 'Harmonic' : 'Cent')]}}" max="{{mctrl.ui.model['highest' + (elementSelectedIsString ? 'Harmonic' : 'Cent')]}}" ng-model="_element.multiplier" mobile-click="$event.stopPropagation()" step="{{elementSelectedIsString ? 1 : 0.01}}" /></li>
            <li><button title="Mute/unmute element" type="button" ng-class="'icon-speaker-o' + (_element.muted ? 'ff' : 'n')" mobile-click="_element.muted = !_element.muted;$event.stopPropagation()"></button></li>
            <li><button title="Remove element" type="button" class="icon-delete" mobile-click="mctrl.ui.model.removeElement(_element);$event.stopPropagation()"></button></li>
          </ul>

          <ul class="fright set" ng-hide="elementSelected">
            <li class="hide-if-screen-is-narrow"><button title="Halve values of all elements in set" type="button" class="icon-halve" ng-class="{disabled:!mctrl.ui.model.canHalve(set)}" mobile-click="mctrl.ui.model.halve(set);$event.stopPropagation()"></button></li>
            <li><button title="Lower values of all elements in set" type="button" class="icon-decrease" ng-class="{disabled:!mctrl.ui.model.canLower(set)}" hold-click="mctrl.ui.model.lower(set)" mobile-click="$event.stopPropagation()"></button></li>
            <li><button title="Raise values of all elements in set" type="button" class="icon-increase" ng-class="{disabled:!mctrl.ui.model.canRaise(set)}" hold-click="mctrl.ui.model.raise(set)" mobile-click="$event.stopPropagation()"></button></li>
            <li class="hide-if-screen-is-narrow"><button title="Double values of all elements in set" type="button" class="icon-double" ng-class="{disabled:!mctrl.ui.model.canDouble(set)}" mobile-click="mctrl.ui.model.double(set);$event.stopPropagation()"></button></li>
            <li class="hide-if-screen-is-narrow"><button title="Normalize values of all elements in set (simplify ratios)" type="button" class="icon-normalise" ng-class="{disabled:!mctrl.ui.model.canNormalize(set)}" mobile-click="mctrl.ui.model.normalise(set);$event.stopPropagation()"></button></li>
            <li><button title="Mute/unmute the whole set" type="button" ng-class="'icon-speaker-' + (set.muted ? 'off' : 'on')" mobile-click="set.muted = !set.muted;$event.stopPropagation()"></button></li>
            <li><button title="Remove the whole set" type="button" class="icon-delete" mobile-click="mctrl.ui.model.deleteSet(set);$event.stopPropagation()"></button></li>
          </ul>

          <ul class="railed">
            <li class="hide-if-screen-is-narrow">
              <button title="Mute/unmute the whole set" type="button" class="set-selector" ng-class="{on : !set.muted}" mobile-click="set.muted = !set.muted;$event.stopPropagation()"></button>
            </li>
            <li class="type">
              {{mctrl.ui.model.isStringSet(set) ? 'JI' : '¢'}}
            </li>
            <li ng-repeat="string in set.strings" mobile-click="mctrl.ui.model.toggleSelectedElement(string);$event.stopPropagation()">
              <button title="Edit properties of this harmonic element" type="button" class="element string" autosize ng-class="{active : _element.id === string.id, muted : string.muted}">
                <span ng-if="displayMode === 'normal' || displayMode === 'pitches'">{{string.multiplier}}</span>
                <span class="smaller" ng-if="displayMode === 'frequency'">{{mctrl.ui.calculateStringFrequency(string) | number:2}} Hz</span>
                <span class="smaller" ng-if="displayMode === 'cents'">{{mctrl.ui.stringToCent(string)}} ¢</span>
              </button>
            </li>
            <li ng-repeat="cent in set.cents" mobile-click="mctrl.ui.model.toggleSelectedElement(cent);$event.stopPropagation()">
              <button title="Edit properties of this cent element" type="button" class="element cent" autosize ng-class="{active : _element.id === cent.id, muted : cent.muted}">
                <span class="smaller" ng-if="displayMode === 'normal' || displayMode === 'cents' || displayMode === 'pitches'">{{cent.multiplier}} ¢</span>
                <span class="smaller" ng-if="displayMode === 'frequency'">{{mctrl.ui.calculateCentFrequency(cent) | number:2}} Hz</span>
              </button>
            </li>
            <li>
              <button title="Add a new element to the set" type="button" class="icon-add" mobile-click="mctrl.ui.model.addElement(set);$event.stopPropagation()"></button>
            </li>
          </ul>

          <span class="interval-name">{{mctrl.ui.model.getIntervalName(set)}}</span>
        </div>
      </td>
    </tr>
  </table>
</section>
