$width : 1px;
$size : 14px;

$thumb-radius: 8px + $width;
$thumb-size: $size;
$thumb-border-width: $width;

$track-width: 100%;
$track-height: $width;

@mixin track($background: $track-color) {
  background: $background;
}

@mixin thumb($border-color: $thumb-border-color) {
  border: $thumb-border-width solid $border-color;
  background: $thumb-color;
}

input[type=range] {
  $bumperSize : floor($size / 3);
  $bumperPos : floor($bumperSize + $bumperSize / 3);

  background:
    radial-gradient(circle at $bumperPos 50%, $color2 $bumperSize, transparent 0%),
    radial-gradient(circle at calc(100% - #{$bumperPos}) 50%, $color2 $bumperSize, transparent 0%);
  background:
    -webkit-radial-gradient(circle at $bumperPos 50%, $color2 $bumperSize, transparent 0%),
    -webkit-radial-gradient(circle at calc(100% - #{$bumperPos}) 50%, $color2 $bumperSize, transparent 0%);

  &:active {
    &::-webkit-slider-thumb {
      border-color: $active;
    }

    &::-moz-range-thumb {
      border-color: $active;
    }
  }

  &::-webkit-slider-thumb {
    @include thumb;
  }

  &::-moz-range-thumb {
    @include thumb;
  }

  &::-webkit-slider-runnable-track {
    @include track;
  }

  &::-moz-range-track {
    @include track;
  }

  &[disabled] {
    background:
      radial-gradient(circle at $bumperPos 50%, $disabled $bumperSize, transparent 0%),
      radial-gradient(circle at calc(100% - #{$bumperPos}) 50%, $disabled $bumperSize, transparent 0%);
    background:
      -webkit-radial-gradient(circle at $bumperPos 50%, $disabled $bumperSize, transparent 0%),
      -webkit-radial-gradient(circle at calc(100% - #{$bumperPos}) 50%, $disabled $bumperSize, transparent 0%);

    &::-webkit-slider-thumb {
      @include thumb($disabled);
    }

    &::-moz-range-thumb {
      @include thumb($disabled);
    }

    &::-webkit-slider-runnable-track {
      @include track($disabled);
    }

    &::-moz-range-track {
      @include track($disabled);
    }
  }
}
