@mixin icon {
  font-family: 'monochord', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin unselectable {
  -webkit-touch-callout: none;
  user-select: none;
}

@mixin number-as-text {
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }
}

// ------------

.number-as-text {
  @include number-as-text;
}
