$width : 1px;
$size : 14px;

$thumb-radius: 8px + $width;
$thumb-size: $size;
$thumb-border-width: $width;

$track-width: 100%;
$track-height: $width;

@mixin track {
  width: $track-width;
  height: $track-height;
  cursor: pointer;
}

@mixin thumb {
  height: $thumb-size;
  width: $thumb-size;
  border-radius: $thumb-radius;
  cursor: pointer;
  box-sizing: content-box;
}

input[type=range] {
  appearance: none;
  width: $track-width;
  height: $size + 2*$width + 2;
  display: inline-block;

  $bumperSize : floor($size / 3);
  $bumperPos : floor($bumperSize + $bumperSize / 3);

  box-sizing: border-box;
  padding: 0 $bumperSize * 2;
  margin: 0;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-thumb {
    appearance: none;

    @include thumb;

    margin-top: -($thumb-size + $thumb-border-width) / 2;
  }

  &::-moz-range-thumb {
    @include thumb;
  }

  &::-webkit-slider-runnable-track {
    @include track;
  }

  &::-moz-range-track {
    @include track;
  }

  &[disabled] {
    &::-webkit-slider-thumb {
      appearance: none;

      @include thumb;

      cursor: default;
    }

    &::-moz-range-thumb {
      @include thumb;

      cursor: default;
    }

    &::-webkit-slider-runnable-track {
      @include track;
    }

    &::-moz-range-track {
      @include track;
    }
  }
}
