$height : 40px;
$padding : 3px;
$margin : 6px;

$arrowHeight : 10px;
$arrowWidth : 10px;
$contentSize : $height - 2 * (1px + $margin);

.selectwrapper {
  border-radius: 3px;
  display: inline-block;
  height: $contentSize;
  line-height: $contentSize;
  margin: $margin 0 0 0;
  font-size: 0;
  vertical-align: top;

  &::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: $arrowHeight $arrowWidth / 2 0 $arrowWidth / 2;
    float: right;
    margin: 10px 5px 0 -20px;
  }
}

select {
  appearance: none;
  border: 0;
  background: none;
  height: $contentSize;
  line-height: 14px;
  padding: $padding 30px $padding $padding;
  font-size: 14px;
}
