:global(.theme-light) {
  @import '../../../client/scss/themes/light/palette.scss';

  background: $background;
  color: $color2;
}

:global(.theme-dark) {
  @import '../../../client/scss/themes/dark/palette.scss';

  background: $background;
  color: $color2;
}
