@font-face {
  font-family: 'monochord';
  src: url('./monochord/monochord.eot?67961079');
  src: url('./monochord/monochord.eot?67961079#iefix') format('embedded-opentype'),
     url('./monochord/monochord.woff2?67961079') format('woff2'),
     url('./monochord/monochord.woff?67961079') format('woff'),
     url('./monochord/monochord.ttf?67961079') format('truetype'),
     url('./monochord/monochord.svg?67961079#monochord') format('svg');
  font-weight: normal;
  font-style: normal;
}
