<%- include('../partials/head') %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i" />
  <link rel="stylesheet" href="<%= path.static %>/css/monochord.min.css" />
</head>
<body class="theme-<%= theme %>">
  <div class="wrapper" ng-app="Monochord" ng-controller="MonochordCtrl as mctrl" pointer-press="mctrl.ui.mouseDown()" pointer-release="mctrl.ui.mouseUp()">
    <%- include('../partials/loading') %>
    <%- include('../partials/header') %>
    <%- include('../partials/settings') %>

    <%- include('../partials/scale-designer') %>
    <%- include('../partials/scala') %>
    <%- include('../partials/piano') %>
    <%- include('../partials/dashboard') %>
    <%- include('../partials/midi-info') %>

    <%- include('../partials/footer') %>
    <%- include('../partials/tutorial') %>
  </div>
  <script>const __settings = <%- JSON.stringify(__settings) %></script>
  <script src="<%= path.static %>/js/monochord.min.js"></script>
  <%- include('../partials/page-end') %>
</body>
</html>