<%- include('../partials/head') %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i" />
  <link rel="stylesheet" href="<%= path.static %>/css/monochord.min.css" />
</head>
<body>
  <div id="app"><%- markup %></div>

  <script>const __INITIAL_DATA__ = <%- JSON.stringify(__settings) %></script>
  <script src="<%= path.static %>/js/monochord.min.js"></script>
  <%- include('../partials/page-end') %>
</body>
</html>