// https://github.com/voxpelli/sass-color-helpers/blob/master/stylesheets/color-helpers/_hsv-hsl.scss
@function hsv-to-hsl($h, $s: 0, $v: 0) {
  @if type_of($h) == 'list' {
    $v: nth($h, 3);
    $s: nth($h, 2);
    $h: nth($h, 1);
  }

  @if unit($h) == 'deg' {
    $h: 3.1415 * 2 * ($h / 360deg);
  }

  @if unit($s) == '%' {
    $s: 0 + ($s / 100%);
  }

  @if unit($v) == '%' {
    $v: 0 + ($v / 100%);
  }

  $ss: $s * $v;
  $ll: (2 - $s) * $v;

  @if ($ll == 2 or $ll == 0) {
    $ss: 0;
  }

  @else if $ll <= 1 {
    $ss: $ss / $ll;
  }

  @else {
    $ss: $ss / (2 - $ll);
  }

  $ll: $ll / 2;

  @return 360deg * $h / (3.1415 * 2), percentage(max(0, min(1, $ss))), percentage(max(0, min(1, $ll)));
}

@function hsv-to-color($h, $s: 0, $v: 0) {
  $hsl: hsv-to-hsl($h, $s, $v);

  @return hsl(nth($hsl, 1), nth($hsl, 2), nth($hsl, 3));
}

@function hsva-to-color($h, $s, $v, $a) {
  @return rgba(hsv-to-color($h, $s, $v), $a);
}
