#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-attachment: fixed;
  opacity: 1;

  .logo {
    width: 320px;
    height: 100px;
    top: 50%;
    left: 50%;
    position: relative;
    margin-top: -50px;
    margin-left: -160px;
    text-align: center;

    .brand {
      padding-bottom: 30px;
      margin: 0;
      font-weight: normal;
    }
  }

  &.fading {
    opacity: 0;
    transition: 2s opacity;
  }
}

.hidden{
  display: none;
}

:global(.theme-light) {
  @import '../../../client/scss/themes/light/palette.scss';

  #loading {
    background: $background;
  }
}

:global(.theme-dark) {
  @import '../../../client/scss/themes/dark/palette.scss';

  #loading {
    background: $background;
  }
}
